.Container {
  @apply flex justify-between;
}
.nav-links {
  @apply flex gap-5;
  align-items: center;
  width: 500px;
  justify-content: space-between;
}
a {
  @apply text-xl;
  font-size: 25px;
  font-weight: 700;
}

.logo {
  font-family: 'Jost', sans-serif;
  color: var(--color-accent-darkblue);
}
button {
  background-color: #1d3557;
  width: 90px;
  font-weight: 700;
}
