.Login-container {
  position: absolute;
  left: 35%;
  height: 600px;
  top: 25%;
  background-color: aliceblue;
  width: 600px;
  padding: 30px 50px;
  border-radius: 9px;
  display: flex;
  border: #1d3557 1px solid;
}

.login {
  display: flex;
  flex-direction: column;
  color: #1d3557;
  gap: 20px;
}
form {
  display: grid;
  gap: 20px;
}
h1 {
  color: #1d3557;
}
button {
  width: 200px;
  justify-self: self-end;
  margin-top: 80px;
}
.hidden {
  opacity: 0;
}
